$default__font: Montserrat;
$cinzel__font: Cinzel Decorative;

.cinzel__font {
   font-weight: 700;
   letter-spacing: 0px;
   color: #313131 !important;
}
.font-30 {
   @extend .cinzel__font;
   font: normal normal bold 38px/33px $cinzel__font;
   text-transform: uppercase;
}
@media (min-width: 320px) and (max-width: 600px) {
   .font-30 {
      font: normal normal bold 18px $cinzel__font !important;
   }
}
.font-24 {
   @extend .cinzel__font;
   text-transform: uppercase;
   font: normal normal bold 24px/17px $cinzel__font;
}
